/* Estilos para el texto de los filtros */

.filtrosTxt {
  font-family: 'Creepster', cursive;
  font-size: 3rem;
  color: #40b5cb;
  -webkit-text-stroke: 0.3px rgba(0, 0, 0, 0.8);
  text-shadow: 0.1em 0.1em 0.2em #c0df40;
}